@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välomen till KYH bibliotek</h1>
    <p>Learn about <a href="https://kyh.se/?gclid=Cj0KCQiAweaNBhDEARIsAJ5hwbfwIUG_xqz5uNFHNyAmP09b7Rn9Hx1Ystom_CuxomzahG926mlcsVQaAlY-EALw_wcB">Kolla på KYH websida</a>.</p>
</div>
<div>
    På den här sätt kan vi dela skärmen <br> på web sida och göra grejer
</div>
<div>
    Andreas är med 
</div>